app-logo-and-materials{
    display:grid;
    position:absolute;
    top:0%;
    grid-template-columns: repeat(3,1fr);
    //display:none;
}
.createOrLogin{
    z-index:2;
    padding-right:20%;
    position:relative;
    top:-40%;
    left:5%;
    
    h1{
         position:relative;
         left:50%;
         top:5vh;
         font-size:1.8rem;
         font-family: 'Merriweather Sans', sans-serif;
     }
     .federated-auth-sec{
         padding:7%;
         position:relative ;
         left:43%;
         top:2vh;
     }
     .or{
         position: relative;
         left:77%;
         bottom:5vh;
         font-family:sans-serif;
         color:grey;
     }
     form{
         margin-left:54%;
         margin-top:40%;
         position: relative;
         bottom:70vh;
         input{
             border:none;
             border-bottom:1px solid rgb(209, 208, 208);
             padding-top:5vh;
             height:29px;
             width:464px;
         }
         .required{
            background-color:#fd2b273b;
            font-family:sans-serif;
            color:maroon;
            padding:6px;
            width:457px;
            font-size:0.8rem;
            border-radius:2px;
        }
        button{
            background-color:rgba(139, 178, 178, 1);
            width:474px;
            height:35px;
            border:none; 
            margin-top:5vh;
            border-radius:3px;
            color:white; 
         }    
     }

     .login{
         position:relative;
         left:54%;
         bottom:66vh;
         font-family: 'Poppins', sans-serif;
     }
     .g_id_signin{
         width:26%;
     }
     .fb-login-button{
         position:relative;
         left:40%;
         bottom:4.8vh;
     }
}